<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="automation.AutomationPractice.Homepage"/>
      <class name="automation.AutomationPractice.ContactUs"/>
     <class name="automation.AutomationPractice.LoginTest"/>
    
  <!--      <class name="automation.AutomationPractice.AppTest"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
