<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
		<test thread-count="5" name="Homepage">
		<classes>
			<class name="automation.AutomationPractice.HomePageTest" />
			<class name="automation.AutomationPractice.CheckOutTest" >
			<methods><include name="validateProduct_cart"></include></methods>
			</class>
		</classes>

	</test>

	


</suite> <!-- Suite -->
